/*This is forcing body to whole page*/
body{height:100%;
    width:100%;
    margin:0;
    background:#000;
   color: white;
   -webkit-background-size: cover;  
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   /*Keeping all wording in the middle for right now*/
  }
 button {
   color: orange;
 }
 #ca{
   color:black;
 }
 /*burger image*/
 .burger-image{
   display:block;
   max-height: 275px;
   margin-top: 20px;
   margin-right: 200px;
   padding: 0px 0px 0px 415px;
 }
 
 #header{
   font-size: 30px;
   text-align: center;
 }
 
 li {
   /*background: #FAEBD7;*/
   background-image: 
   margin: 5px;
   padding: 5px;
 }
 
 .label {
   font-weight: bold;
 }
 
 .create-update-form, #burgerDisplayDiv, #devoured {
   display: inline-block;
   /*background: #bd1515;*/
   margin: 5px;
   padding: 5px;
 }
 
 .form-group {
   margin-bottom: 5px;
 }
 
 video {
   position: absolute;
     top:0px;
     left:0px;
     min-width:100%;
     max-width: 1200%;
     min-height: 100%;
     width:auto;
     height:auto;
     z-index: -1000;
     overflow: hidden;
   }
  @media screen and (max-width: 500px) {
   div {
     width: 70%;
   }
 }
 
 @media screen and (max-device-width: 800px) {
   html {
     background: url("/assets/img/Fire.mp4") #000 no-repeat center center fixed;
   }
   #bgvid {
     display: none;
   }
 }